body {
  background: #181818;
}

.base-container {
  height: 100%;
  width: 100%;
}

.home-container {
  height: 100%;
  width: 100%;
}

.testing {
  height: 500px;
  widows: 1000px;
}

.triangle-option {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 212px;
  border-top-width: 212px;
}

.triangle-option:hover {

}

.triangle-option.container-even {
  border-left: 1000px solid green;
}

.triangle-option.container-odd {
  border-right: 1000px solid green;
}
